[submodule "open_manipulator_msgs"]
	path = open_manipulator_msgs
	url = https://github.com/ROBOTIS-GIT/open_manipulator_msgs.git
[submodule "open_manipulator_dependencies"]
	path = open_manipulator_dependencies
	url = https://github.com/ROBOTIS-GIT/open_manipulator_dependencies.git
[submodule "joystick_drivers"]
	path = joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers
